*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/wrapper/gradle-wrapper.properties
unused/GraphSurfaceView.java
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/runConfigurations.xml
app/release/app-release.apk
app/release/output.json
app/src/main/res/mipmap-ldpi/ic_launcher.png
gradle/wrapper/gradle-wrapper.jar
werbung.txt
